Repository r5py/r5py, pull requests merged in 2022-09, with the labels that each got.

#160 Improve the landing page docs and follow the style of r5r
  README.md
  docs/index.rst
Labels: documentation

#175 Add tests for TravelTimeMatrixComputer
  docs/data/test_data/test_invalid_points_duplicate_ids.geojson
  docs/data/test_data/test_invalid_points_no_id_column.geojson
  docs/data/test_data/test_valid_points_data.geojson
  docs/data/test_data/test_valid_single_point_data.geojson
  tests/conftest.py
  tests/test_travel_time_matrix_computer.py
Labels: test

#202 Use pytest.approx instead of a list of values
  tests/test_travel_time_matrix_computer.py
Labels: enhancement, test

#203 typo in README
  README.md
Labels: documentation
